/* CSS specification requires @import statements to be at the top of the file */
@import url("./globals.css");
@import url("./components/Navbar.css");
@import url("./components/Header.css");
@import url("./components/About.css");
@import url("./components/Events.css");
@import url("./components/Execs.css");
@import url("./components/Archive.css");
@import url("./components/Footer.css");
@import url("./responsive.css");
