/* Global styles */
* {
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --red: #8b0e05;
    --orange: rgb(189, 97, 0);
    --cream: #e6dece;
    --grey: rgb(82, 87, 83);
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
    background-color: var(--cream);
}

/* mascot follower */
#banban {
    position: fixed;
    width: 50px;
    height: auto;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    visibility: visible;
    will-change: transform;
}

/* Generic heading styles */
h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--red);
    margin: 8px 0;
    line-height: 1.1;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 1px;
    scroll-margin-top: 140px;
    display: block;
    width: 100%;
}

h2 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px 0;
    color: var(--grey);
}

h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 90%;
    margin: 20px 0;
}

