* {
  margin: 0px;
}

:root {
  --red: #bc3f3f;
  --orange:rgb(189, 97, 0);
  --dark-cyan: #74d1d0;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
  background-color: #fbecc9;
}


/*navbar css */
nav {
  width: 100%;
  height: 5rem;
  background-color: var(--red);
  z-index: 10;
  position: fixed;
}

a:hover {
  cursor: pointer;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.section {
  position: relative;
}

.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -80px;
  left: 0;
  visibility: hidden;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: inherit;
}

li a,
.button a {
  padding: 2em;
  text-decoration: none;
  color: rgb(253, 244, 195);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: text-shadow 0.5 ease-in;
}

nav a:hover {
  text-shadow: 0 0 5px #ffffff;
}

nav .nav_img {
  float: left;
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

#vsa_logo {
  height: 60px;

}


/*homepage css*/


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 40px 80px;
  gap: 60px;
  flex-wrap: wrap;
  background-color: #fbecc9;
}

/*this is the image next to the about tmsa change font */
#image img {
  width: 180px;
  height: auto;
  max-width: 100%;
}

#image {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--orange);
  font-weight: 750;
  font-size: 3.75rem;
  letter-spacing: 1px;
  line-height: 90%;
}


h2 {
  font-family:"Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px 0;
  color: rgb(27, 82, 29);
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--orange);
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 90%;
  margin: 20px 0;
}


#intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}


.button {
  background-color: var(--red);
  padding: 20px 36px;
  border-radius: 12px;
  transition: all 0.4s ease;
  border: 2px solid rgb(27, 82, 29);
}

.button:hover {
  background-image: url('water.png');
  cursor: pointer;
}

/*-------------------------------about section css-----------------------------------*/
.about {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  min-height: 300px;
  position: relative;

}

.about #anchor1 {
  grid-area: 3 / 2 / 4 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  scroll-margin-top: 100px;
  width: max-content;
  padding: 30px;
  border-radius: 50px;
  background-color: #fbecc9;
  border: 2px solid rgb(27, 82, 29);
  -webkit-text-stroke: 2px rgb(4, 62, 4);
  place-self: center;
}


.about .about-instagram {
  grid-area: 2/1/6/7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  margin: auto;
  opacity: 0.3;
  /* Faded look */
  transition: opacity 0.3s ease;
  border: 1px solid rgb(20, 63, 22);
}

.instagram-media {
  max-width: 100%;
  min-width: auto;
  width: 100%;
}

.about .about-instagram blockquote.instagram-media {
  transition: filter 0.4s ease, opacity 0.4s ease;
}

.about .about-instagram blockquote.instagram-media:hover {
  filter: brightness(1.5) contrast(1.2);
  opacity: 0.6;
}

.about-message {
  grid-area: 4/2/5/6;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 10px;
  margin-bottom: 10px;

  width: fit-content;
  padding: 30px;
  background-color: #fbecc9;
  border-radius: 50px;
  border: 2px solid rgb(27, 82, 29);
  height: auto;
  /* ensures it only fits content */
  align-self: start;
  /* stops stretching to grid row height */
}

.about-message {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: rgb(20, 63, 22);
  letter-spacing: 1.5px;
  line-height: 20px;
}

.social-icons {
  grid-area: 5/2/6/6;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 3;
}

.social-icons a img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(27, 82, 29);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 3;
  background: none;
  border: none;
}

.social-icons a img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px white;
}

/*----------------------------events section css---------------------------------*/

.news-ticker {
  background: rgb(189, 97, 0);
  border-top: 3px solid rgb(27, 82, 29);
  border-bottom: 3px solid rgb(27, 82, 29);
  overflow: hidden;
  white-space: nowrap;
}

.ticker-track {
  display: inline-block;
  animation: scroll 20s linear infinite;
}

.ticker-track span {
  display: inline-block;
  padding: 0 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: rgb(255, 240, 152);
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

#anchor2 {
  scroll-margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: rgb(189, 97, 0);
  -webkit-text-stroke: 3px rgb(4, 62, 4);
  font-weight: 700;
  font-size: 3.75rem;
  letter-spacing: 1px;
  line-height: 90%;
}


/*---------------------------exec section css----------------------------------*/
.execs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
  padding: 40px 20px;
  background-image: url('water.png');
  position: relative;
}

.execs::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
  inset: 0;
  position: absolute;
  z-index: 0;
}

.execs>* {
  position: relative;
  z-index: 1;
}

#anchor3 {
  scroll-margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 240, 152);
  -webkit-text-stroke: 3px rgb(4, 62, 4);
  font-weight: 700;
  font-size: 3.75rem;
  letter-spacing: 1px;
  line-height: 90%;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* horizontal centering for all children */
  text-align: center;
  /* center text too */
  padding: 20px;
  border: 2px solid rgb(255, 240, 152);
  border-radius: 16px;
  background-color: #122f13;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.member-card img {
  display: block;
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border: 2px solid rgb(255, 240, 152);
  border-radius: 2%;
  margin-bottom: 12px;
}


.member-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}


.member-card h4 {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 6px;
  color: rgb(255, 240, 152);
  -webkit-text-stroke: 0.75px rgb(189, 97, 0);
}

.member-card p {
  font-size: 0.95rem;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 240, 152);
}


/*-----------------------------------------------------------------------------*/