/* footer */
footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    width: 100%;
    height: 7rem;
}

footer p {
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    color: #fbecc9;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.footer-social {
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-social img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--grey);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 3;
    background: none;
}

.footer-social img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgb(255, 240, 152);
}